@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .max {
        @apply mx-auto sm:max-w-[80vw] px-4
    }

    .result {
        @apply text-gray-400
    }

    .heading {
        @apply font-bold sm:text-lg
    }
}

::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-color: #04152D;
}

::-moz-scrollbar-track {
    border: 1px solid transparent;
    background-color: #04152D;
}


/* Scrollbar Handle */
::-webkit-scrollbar {
    width: 10px;
    background-color: #04152D;
}

::-moz-scrollbar {
    width: 10px;
    background-color: #04152D;
}




/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #F89E00, #DA2F68);
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    background-image: linear-gradient(to top, #F89E00, #DA2F68);
    border-radius: 10px;
}


.carousel::-webkit-scrollbar,
.cast::-webkit-scrollbar {
    display: none;
}

.carousel,
.cast {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

@keyframes skeletonAnimation {
    0% {
        left: -10%;
    }

    100% {
        left: 100%;
    }
}

#animate {
    animation: skeletonAnimation 1.25s infinite ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 21, 45, 0.95);
    /* Adjust the opacity here (0 to 1) */
}