@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .max {
        @apply mx-auto sm:max-w-[80vw] px-4
    }
}

::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-color: #04152D;
}

::-moz-scrollbar-track {
    border: 1px solid transparent;
    background-color: #04152D;
}


/* Scrollbar Handle */
::-webkit-scrollbar {
    width: 10px;
    background-color: #04152D;
}

::-moz-scrollbar {
    width: 10px;
    background-color: #04152D;
}




/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #F89E00, #DA2F68);
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    background-image: linear-gradient(to top, #F89E00, #DA2F68);
    border-radius: 10px;
}


#carousel::-webkit-scrollbar {
    display: none;
}

#carousel {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}